In [5]:
# Importing the dependencies.
import gmaps
import gmaps.datasets
import pandas as pd
# Import the API key.
from config import g_key
gmaps.configure(api_key=g_key)

In [6]:
# Importing the CSV created in part one into a DataFrame.
hotel_df = pd.read_csv("weather_data/WeatherPy_Vacation.csv")
hotel_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,49,Poum,NC,80.60,-20.23,164.02,light rain,Gîte kajeon
1,56,Almeirim,BR,73.69,-1.52,-52.58,light rain,Ricácio Hotel
2,69,Sambava,MG,73.31,-14.27,50.17,light rain,Melrose
3,83,Micheweni,TZ,80.53,-4.97,39.83,light rain,NaN
4,103,Yako,BF,85.59,12.97,-2.27,light rain,Ecole de Sibega

In [88]:
first_df = hotel_df.loc[hotel_df["City"] == "Barra Do Garcas"]
second_df= hotel_df.loc[hotel_df["City"] == "Itupiranga"]
third_df= hotel_df.loc[hotel_df["City"] == "Maragogi"]
fourth_df= hotel_df.loc[hotel_df["City"] == "Piacabucu"]

In [89]:
subset = first_df[['Lat','Lng']]
tuple_one = [tuple(x) for x in subset.to_numpy()]
subset = second_df[['Lat','Lng']]
tuple_two = [tuple(x) for x in subset.to_numpy()]
subset = third_df[['Lat','Lng']]
tuple_three = [tuple(x) for x in subset.to_numpy()]
subset = fourth_df[['Lat','Lng']]
tuple_four = [tuple(x) for x in subset.to_numpy()]

In [90]:
Bar = tuple_one[0]
Itu = tuple_two[0]
Mar = tuple_three[0]
Pia = tuple_four[0]

In [110]:
new_hotel_df = hotel_df[(hotel_df['City']=='Barra Do Garcas') | (hotel_df['City']=='Itupiranga') |  
         (hotel_df['City']=='Maragogi') | (hotel_df['City']=='Piacabucu')]
new_hotel_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
23,260,Piacabucu,BR,78.40,-10.41,-36.43,light rain,Piaçabuçu News
24,266,Barra Do Garcas,BR,73.06,-15.89,-52.26,light rain,Hotel Pousada Tropical
25,276,Itupiranga,BR,78.80,-5.13,-49.33,light rain,JAIRO ORLINDO VIEIRA
37,450,Maragogi,BR,78.94,-9.01,-35.22,light rain,Hotel Praia Dourada

In [117]:
# Defining the info in the pop-up marker
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

In [120]:
# Storing the DataFrame Row.
city_info = [info_box_template.format(**row) for index, row in new_hotel_df.iterrows()]
city_info

['\n<dl>\n<dt>Hotel Name</dt><dd>Piaçabuçu News</dd>\n<dt>City</dt><dd>Piacabucu</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>78.4 °F</dd>\n<dt>Current Weather</dt><dd>light rain</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Pousada Tropical</dd>\n<dt>City</dt><dd>Barra Do Garcas</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>73.06 °F</dd>\n<dt>Current Weather</dt><dd>light rain</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>JAIRO ORLINDO VIEIRA</dd>\n<dt>City</dt><dd>Itupiranga</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>78.8 °F</dd>\n<dt>Current Weather</dt><dd>light rain</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Praia Dourada</dd>\n<dt>City</dt><dd>Maragogi</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>78.94 °F</dd>\n<dt>Current Weather</dt><dd>light rain</dd>\n</dl>\n']

In [126]:
locations = new_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure()
travel = gmaps.directions_layer(Itu, Bar, waypoints=[Mar,Pia])
fig.add_layer(travel)
# Was desperatly trying to add this layer to get the pop-up markers but didn't succeed
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))