In [11]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
from config import weather_api_key
from citipy import citipy

In [20]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=150)
lngs = np.random.uniform(low=-180.000, high=180.000, size=150)
lat_lngs = zip(lats, lngs)
lat_lngs

In [21]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [22]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=d0396d743e31ba3f8ee75ae1e2d476f1

In [23]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
city_weather.json()

{'coord': {'lon': -71.06, 'lat': 42.36},
 'weather': [{'id': 500,
   'main': 'Rain',
   'description': 'light rain',
   'icon': '10d'}],
 'base': 'stations',
 'main': {'temp': 40.3,
  'feels_like': 30.25,
  'temp_min': 39,
  'temp_max': 41,
  'pressure': 1007,
  'humidity': 86},
 'visibility': 16093,
 'wind': {'speed': 12.75, 'deg': 20},
 'rain': {'1h': 0.81},
 'clouds': {'all': 90},
 'dt': 1587246606,
 'sys': {'type': 1,
  'id': 3486,
  'country': 'US',
  'sunrise': 1587203852,
  'sunset': 1587252538},
 'timezone': -14400,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [24]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name
    
    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

107

In [25]:
# Import the datetime module from the datetime library.
from datetime import datetime

In [26]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [27]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 1 | rikitea
Processing Record 2 of Set 1 | totness
Processing Record 3 of Set 1 | aykhal
Processing Record 4 of Set 1 | pangody
Processing Record 5 of Set 1 | ushuaia
Processing Record 6 of Set 1 | barra
Processing Record 7 of Set 1 | turtkul
City not found. Skipping...
Processing Record 8 of Set 1 | chokurdakh
Processing Record 9 of Set 1 | mataura
Processing Record 10 of Set 1 | hithadhoo
Processing Record 11 of Set 1 | punta arenas
Processing Record 12 of Set 1 | souillac
Processing Record 13 of Set 1 | vaini
Processing Record 14 of Set 1 | busselton
Processing Record 15 of Set 1 | yinchuan
Processing Record 16 of Set 1 | albany
Processing Record 17 of Set 1 | antofagasta
Processing Record 18 of Set 1 | dubbo
Processing Record 19 of Set 1 | ponta delgada
Processing Record 20 of Set 1 | tank
Processing Record 21 of Set 1 | saldanha
Processing Record 22 of Set 1 | atuona
Processing Record 23 of Set 1 | sabang
Processing Record 24 of Set 1 | lavrentiya
Processing Record 25 of Set 1 | taolanaro
City not found. Skipping...
Processing Record 26 of Set 1 | cockburn town
Processing Record 27 of Set 1 | nanortalik
Processing Record 28 of Set 1 | saint george
Processing Record 29 of Set 1 | leningradskiy
Processing Record 30 of Set 1 | ostrovnoy
Processing Record 31 of Set 1 | klyuchi
Processing Record 32 of Set 1 | kaitangata
Processing Record 33 of Set 1 | new norfolk
Processing Record 34 of Set 1 | illoqqortoormiut
City not found. Skipping...
Processing Record 35 of Set 1 | cape town
Processing Record 36 of Set 1 | kapaa
Processing Record 37 of Set 1 | norman wells
Processing Record 38 of Set 1 | yumen
Processing Record 39 of Set 1 | amravati
Processing Record 40 of Set 1 | qui nhon
Processing Record 41 of Set 1 | luderitz
Processing Record 42 of Set 1 | sur
Processing Record 43 of Set 1 | kushiro
Processing Record 44 of Set 1 | luwuk
Processing Record 45 of Set 1 | shakawe
Processing Record 46 of Set 1 | hobyo
Processing Record 47 of Set 1 | mahebourg
Processing Record 48 of Set 1 | tuatapere
Processing Record 49 of Set 1 | ponta do sol
Processing Record 50 of Set 1 | fallon
Processing Record 1 of Set 2 | makakilo city
Processing Record 2 of Set 2 | severo-kurilsk
Processing Record 3 of Set 2 | mega
Processing Record 4 of Set 2 | arraial do cabo
Processing Record 5 of Set 2 | carbonia
Processing Record 6 of Set 2 | santa maria
Processing Record 7 of Set 2 | georgetown
Processing Record 8 of Set 2 | shitanjing
Processing Record 9 of Set 2 | tongling
Processing Record 10 of Set 2 | port elizabeth
Processing Record 11 of Set 2 | te anau
Processing Record 12 of Set 2 | luckenwalde
Processing Record 13 of Set 2 | tessalit
Processing Record 14 of Set 2 | la ronge
Processing Record 15 of Set 2 | bambous virieux
Processing Record 16 of Set 2 | bluff
Processing Record 17 of Set 2 | lompoc
Processing Record 18 of Set 2 | the valley
Processing Record 19 of Set 2 | vaitupu
City not found. Skipping...
Processing Record 20 of Set 2 | komsomolskiy
Processing Record 21 of Set 2 | ambilobe
Processing Record 22 of Set 2 | santa eulalia del rio
City not found. Skipping...
Processing Record 23 of Set 2 | armidale
Processing Record 24 of Set 2 | yerbogachen
Processing Record 25 of Set 2 | ilulissat
Processing Record 26 of Set 2 | siilinjarvi
Processing Record 27 of Set 2 | carnarvon
Processing Record 28 of Set 2 | jomalig
City not found. Skipping...
Processing Record 29 of Set 2 | saint-philippe
Processing Record 30 of Set 2 | bredasdorp
Processing Record 31 of Set 2 | codrington
Processing Record 32 of Set 2 | ixtapa
Processing Record 33 of Set 2 | belushya guba
City not found. Skipping...
Processing Record 34 of Set 2 | pangnirtung
Processing Record 35 of Set 2 | borujerd
Processing Record 36 of Set 2 | puerto suarez
Processing Record 37 of Set 2 | hilo
Processing Record 38 of Set 2 | kahului
Processing Record 39 of Set 2 | barrow
Processing Record 40 of Set 2 | east london
Processing Record 41 of Set 2 | upernavik
Processing Record 42 of Set 2 | harnosand
Processing Record 43 of Set 2 | butaritari
Processing Record 44 of Set 2 | kulu
Processing Record 45 of Set 2 | lebu
Processing Record 46 of Set 2 | hermanus
Processing Record 47 of Set 2 | beringovskiy
Processing Record 48 of Set 2 | jamestown
Processing Record 49 of Set 2 | isangel
Processing Record 50 of Set 2 | khatanga
Processing Record 1 of Set 3 | ushtobe
Processing Record 2 of Set 3 | dunedin
Processing Record 3 of Set 3 | sitka
Processing Record 4 of Set 3 | goianesia
Processing Record 5 of Set 3 | maraba
Processing Record 6 of Set 3 | novopokrovka
Processing Record 7 of Set 3 | nikolskoye
-----------------------------
Data Retrieval Complete
-----------------------------

In [28]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Rikitea,-23.12,-134.97,77.09,73,18,7.54,PF,2020-04-18 21:53:43
1,Totness,5.88,-56.32,82.49,77,66,12.35,SR,2020-04-18 21:53:43
2,Aykhal,66.00,111.50,8.60,50,1,4.47,RU,2020-04-18 21:53:43
3,Pangody,65.85,74.49,36.19,96,100,13.13,RU,2020-04-18 21:53:43
4,Ushuaia,-54.80,-68.30,50.00,69,75,8.05,AR,2020-04-18 21:53:44
5,Barra,-11.09,-43.14,78.69,69,100,5.35,BR,2020-04-18 21:53:44
6,Chokurdakh,70.63,147.92,-6.72,88,100,8.59,RU,2020-04-18 21:53:44
7,Mataura,-46.19,168.86,43.30,89,100,4.52,NZ,2020-04-18 21:53:44
8,Hithadhoo,-0.60,73.08,83.77,75,99,11.65,MV,2020-04-18 21:53:45
9,Punta Arenas,-53.15,-70.92,53.60,46,40,19.46,CL,2020-04-18 21:51:35

In [30]:
new_column_order = ['City','Country','Date','Lat','Lng','Max Temp','Humidity','Cloudiness','Wind Speed']
city_data_df = city_data_df[new_column_order]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Rikitea,PF,2020-04-18 21:53:43,-23.12,-134.97,77.09,73,18,7.54
1,Totness,SR,2020-04-18 21:53:43,5.88,-56.32,82.49,77,66,12.35
2,Aykhal,RU,2020-04-18 21:53:43,66.00,111.50,8.60,50,1,4.47
3,Pangody,RU,2020-04-18 21:53:43,65.85,74.49,36.19,96,100,13.13
4,Ushuaia,AR,2020-04-18 21:53:44,-54.80,-68.30,50.00,69,75,8.05
5,Barra,BR,2020-04-18 21:53:44,-11.09,-43.14,78.69,69,100,5.35
6,Chokurdakh,RU,2020-04-18 21:53:44,70.63,147.92,-6.72,88,100,8.59
7,Mataura,NZ,2020-04-18 21:53:44,-46.19,168.86,43.30,89,100,4.52
8,Hithadhoo,MV,2020-04-18 21:53:45,-0.60,73.08,83.77,75,99,11.65
9,Punta Arenas,CL,2020-04-18 21:51:35,-53.15,-70.92,53.60,46,40,19.46

In [31]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")